[Desktop Entry]
Name=wmdiskmon
Comment=Disks usage monitor
Comment[pl]=Monitor zajętości dysków
Exec=wmdiskmon
Terminal=false
Type=Application
Categories=Applet;
NotShowIn=GNOME;KDE;
# vi: encoding=utf-8
